body {
    margin: 0;
    padding: 0;
    height: max-content;
    width: max-content;
    background-color: #000;
    color: white;
    font-family: 'Roboto',sans-serif;
}

.sliders-container {
    z-index: -1;
    align-items: center;
    width: 300px;
    transform: rotate(-90deg);
    display: flex;
    flex-direction: column;
}

#power-indicator {
    display: inline-block;
    margin: auto 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid grey;
}

label {
    margin-left: -10%;
    transform: rotate(45deg);
    position: absolute;
}

label[for="master"] {
    margin-left: -13%;
    transform: rotate(45deg);
    position: absolute;
}

.gain-slider {
    margin: .5em auto;
}

#master {
    margin: 1em auto;
}

#title {
    z-index: 2;
    margin: 3em auto;
    text-align: center;
}

