@import "./styles/variables";
@import "./styles/mixins";

* {
    @include normal-font;
}

.tabsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
